# Temporal Dynamic Configuration for Development
frontend.enableClientVersionCheck:
  - value: true
    constraints: {}
limit.maxIDLength:
  - value: 1000
    constraints: {}
system.forceSearchAttributesCacheRefreshOnRead:
  - value: true
    constraints: {}
